<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>

  h1 {background-color: #0000ff;
  }

</style>
</head>

<body>

  <h1>Welcome!</h1>

  <div class="thumbnail">
    <div class="caption">
    <h3 class="aligncenter">Account Information:</h3>
    <br>
      <p>Name: {{name}}</p>
      <p>Username: {{username}}</p>
      <p>Email: {{email}}</p>
    </div>
  </div>
</body>
</html>